node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
scratch/
storage/system_configs.json
storage/db_local.json
storage/anotacoes.json
storage/*.pdf
storage/*/*.pdf
storage/*/
storage/*/**
!storage/cursos_materias.json
!storage/official_sources.json
